---
import { getTranslations } from "../utils/i18n";
import TecnologyBox from "./TecnologyBox.astro";

const { lang } = Astro.props;
const translations = getTranslations(lang);
---

<div class="text-base">
    <p class="text-pretty">{translations.i_about_me}</p>
    <p class="mt-5 border-b-2 border-action inline-block">{translations.i_slogan}</p>

    <div class="mt-10">
        <p class="font-extrabold mb-3">DevOps</p>
        <p class="text-pretty">
            {translations.devops_description}
        </p>
        <p class="mt-4 text-white/80 font-bold">{translations.tech_used}:</p>
        <div class="flex items-center flex-wrap space-x-3">
            <TecnologyBox type="devops" />
            <TecnologyBox type="terraform" />
        </div>
    </div>

    <div class="mt-10">
        <p class="font-extrabold mb-3">{translations.web_service}</p>
        <p class="text-pretty">
            {translations.web_service_description}
        </p>
        <p class="mt-4 text-white/80 font-bold">{translations.tech_used}:</p>
        <div class="flex items-center flex-wrap space-x-3">
            <TecnologyBox type="csharp" />
            <TecnologyBox type="nodejs" />
            <TecnologyBox type="azure" />
            <TecnologyBox type="aws" />
            <TecnologyBox type="docker" />
            <TecnologyBox type="kubernetes" />
            <TecnologyBox type="graphql" />
        </div>
    </div>

    <div class="mt-10">
        <p class="font-extrabold mb-3">{translations.web_app}</p>
        <p class="text-pretty">
            {translations.web_app_description}
        </p>
        <p class="mt-4 text-white/80 font-bold">{translations.tech_used}:</p>
        <div class="flex items-center flex-wrap space-x-3">
            <TecnologyBox type="angular" />
            <TecnologyBox type="react" />
        </div>
    </div>
</div>
