---
import Layout from "../../layouts/Layout.astro";
import Experiences from "../../components/Experiences.astro";
import AboutMe from "../../components/AboutMe.astro";
import Profile from "../../components/Profile.astro";
import Projects from "../../components/Projects.astro";
import { getTranslations } from "../../utils/i18n";

// getStaticPaths to generate paths for each language
export async function getStaticPaths() {
    return ["en", "es"].map((lang) => ({
        params: { lang },
    }));
}

// Get the language from the route params
const { lang } = Astro.params;
const translations = getTranslations(lang);
---

<Layout title="Jhon Acevedo">
    <main class="px-4 lg:w-3/5 mx-auto w-full" id="home">
        <nav class="fixed w-full z-20 top-0 start-0 bg-jhon-bg hidden md:block">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 w-full lg:flex lg:w-auto lg:order-1">
                <div class="flex justify-center flex-grow">
                    <ul class="flex flex-col p-4 lg:p-0 mt-4 font-medium border rounded-lg lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0">
                        <li class="px-2"><a href="#home">{translations.home}</a></li>
                        <li class="px-2"><a href="#aboutme">{translations.about_me}</a></li>
                        <li class="px-2"><a href="#experience">{translations.experience}</a></li>
                        <li class="px-2"><a href="#project">{translations.projects}</a></li>
                    </ul>
                </div>
                <select id="language-selector" class="px-2 bg-jhon-bg py-1 border rounded-md ml-4">
                    <option value="en" selected={lang === "en"}>English</option>
                    <option value="es" selected={lang === "es"}>Español</option>
                </select>
            </div>
        </nav>

        <div class="mx-auto h-screen lg:w-9/12 flex flex-col lg:items-center justify-center">
            <Profile lang={lang} />
        </div>

        <div class="md:pt-16 mt-10 lg:min-w-full mx-auto" id="aboutme">
            <h3 class="flex items-center mb-6 text-2xl font-semibold gap-x-3 border-b-2 border-action md:border-b-0">{translations.about_me}</h3>
            <AboutMe lang={lang} />
        </div>

        <div class="md:pt-16 mt-10 lg:min-w-full mx-auto" id="experience">
            <h3 class="flex items-center mb-6 text-2xl font-semibold gap-x-3 border-b-2 border-action md:border-b-0">
                <!-- <BriefCaseIcon class="size-7" /> -->
                {translations.experience}
            </h3>
            <Experiences lang={lang} />
        </div>

        <div class="md:pt-16 mt-10">
            <h3 id="project" class="flex items-center mb-6 text-2xl font-semibold gap-x-3 border-b-2 border-action md:border-b-0">{translations.projects}</h3>
            <Projects lang={lang} />
        </div>
    </main>
</Layout>
<script is:inline>
    document.getElementById("language-selector").addEventListener("change", function (event) {
        const selectedLang = event.target.value;
        const currentPath = window.location.pathname.replace(/^\/(en|es)/, "");
        // Redirect to the selected language path while preserving the current route
        window.location.href = `/${selectedLang}${currentPath}`;
    });
</script>
